<div class="blogs-section">
        <img src={{blog_image}} class="blog-image" alt={{blog_image_alt}}>
        <h1 class="blog-title">{{blog_title}}</h1>
        <p class="blog-overview">{{blog_overview}}</p>
        <p class-"blog text">{{blog_text}}</p>
</div>